@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.wrapper {
	display: grid;
	justify-content: center;	
}

.sign-in-div {
	animation: 1.5s ease-out 0s 1 slideInFromLeft;
	display: inline-flex;
	margin-top: 50px;
}

.vertical {
	max-width: 400px;
	background: white;
	margin: 20px;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 2px 3px 23px #000;	
}

form {
	background: white;
	max-width: 400px;
	text-align: center;
	margin: 20px;
	padding: 50px;
	border-radius: 20px;
	display: inline-grid;
	box-shadow: 2px 3px 23px #000;
}

.sign-in-form {
	padding: 70px;
	height: 200px;
}

.sign-in {
	margin: 10px;
}

.sign-up {
	margin-top: 10px;
	text-decoration: none;
	color: #a02e2e;
}

.sign-up:hover {
	color: black;
}

.to-dashboard {
	margin-top: 100px;
	padding: 20px;
	max-width: 400px;
	text-decoration: none;
	color: #a02e2e;
	background: white;
	font-size: 40px;
	border-radius: 20px;
	text-align: center;
	line-height: 50px;
	box-shadow: 4px 3px 11px #000;
	justify-self: center;
}

.to-dashboard:hover {
	transform: scale(1.1);
	box-shadow: 4px 3px 20px #000;
}

.to-dashboard:active {
	transform: scale(0.9);
}

.signout-div {
	background: white;
	display: inline-flex;
	margin: 15px;
	float: left;
	border-radius: 50%;
}

.title {
	margin: 30px;
	color: white;
	font-family: 'Audiowide', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

