.dashboard-wrapper {
	display: grid;
	grid-template-areas: 
	". . . . user user"
	"article article article photo photo photo";
}

.user-area {
    grid-area: user;
    display: inline-flex;
    background: #555;
    background-repeat: no-repeat;
    padding:15px;
    margin-bottom: 15px;
    margin-right: 60px;
    margin-top: 15px;
    box-shadow: 0 0 20px 0px #555;
}

.user-info {
	font-size: 25px;
	padding: 3px;
}

.go-to-profile {
	font-size: 25px;
	text-decoration: none;
	margin-left: 15px;
	border-radius: 10px;
	padding: 3px;
	background: #a02e2e;
	color: white;
}

.go-to-profile:hover {
	background: white;
	color: #a02e2e;
	border-radius: 10px;
	padding: 3px;
}

.article-div {
	grid-area: article;
	max-width: 500px;
	max-height: 500px;
	background: white;
	overflow: scroll;
	padding: 30px;
	margin-left: 20px;
	box-shadow: 2px 3px 23px #000;
}

.activity-div, .search-div {
	grid-area: photo;
	margin-left: 60px;
	margin-right: 60px;
	background: white;
	max-width: 740px;
	text-align: center;
	padding: 60px;
	margin-bottom: 95px;
	box-shadow: 0 0 2px 0px white;
}

.article-title {
	text-align: center;
	font-size: 25px;
	margin: 15px;
	text-decoration: underline;
}

a {
	color: black;
}

a:hover {
	color: #bdb928
}

.title {
	font-size: 40px;
	margin-bottom: 15px;
}

.recent-activity {
	font-size: 30px;
	margin-bottom: 25px;
}

.load-more-btn, .search-btn {
	background: #555;
	color: white;
	padding: 10px;
	box-shadow: 1px 1px 6px #000;
	border: none;
	margin-top: 15px;
	font-size: 15px;
}

.load-more-btn:hover, .search-btn:hover {
	background: white;
	color: #555;
	cursor: pointer;
}

.no-results {
	margin-top: 20px;
}

