.collection-photo {
	max-width: 680px;
	margin: 15px;
	box-shadow: 2px 3px 23px #000;
}

.photo-title {
	font-size: 20px;
	text-decoration: none;
}

/*mobile view*/

@media only screen and (max-width: 1303px) {
	.collection-photo {
		max-width: 540px;
	}	
}

@media only screen and (max-width: 375px) {
	.collection-photo {
		max-width: 310px;
	}
}
