.profile-wrapper {
	background: white;
	margin: 20px;
	margin: 30px;
	display: grid;
	grid-template-areas: 
	"user . . collection collection . "
	"notifications . . collection collection  ."
	"friends . . collection collection  ."
	". . . collection collection  .";
	box-shadow: 0 0 2px 0px white;

}

.profile-pic {
	border-radius: 50%;
	max-width: 200px;

}

.about-user {
	grid-area: user;
	margin: 20px;
	line-height: 25px;
	background: #9a9a9a;
	padding: 15px;
	border-radius: 10px;
}

.friends-div {
	grid-area: friends;
	margin: 15px;
	border: 1px solid black;
	box-shadow: 4px 3px 11px #555;
	overflow: scroll;
	max-height: 200px;
}

.notifications-div {
	grid-area: notifications;
	background: #ececec;
	margin: 15px;
	text-align: center;
	overflow: scroll;
	max-height: 140px;
	box-shadow: 4px 3px 11px #555;
}

.add-collection-btn {
	text-decoration: none;
	font-size: 25px;
	color: #4351b7;
}

.collections-div {
	grid-area: collection;
	background: #ececec;
	margin: 15px;
	text-align: center;
	overflow: scroll;
	max-height: 800px;
	box-shadow: 4px 3px 11px #555;
}

.delete {
	margin-top: 10px;
	padding: 2px;
	font-size: 13px;
	opacity: 0.4;
}

.delete:hover {
	background: red;
	cursor: pointer;
	opacity: 1;
}

.edit-profile-btn, .add-friend-btn, .edit-photo-btn {
	padding: 5px;
	font-size: 15px;
	border: none;
	background: #4351b7;
	box-shadow: 4px 3px 11px #555;
	margin: 15px;
}

.edit-profile-btn:hover, .add-friend-btn:hover, .edit-photo-btn:hover {
	opacity: 0.8;
	cursor: pointer;
}

.notification-title {
	font-size: 30px;
}
