.warning {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 2px 0px white;

}

.dropzone-div {
	margin-top: 30px;
	background: white;
	background: url("./upload.png");
	background-repeat: no-repeat;
	justify-self: center;
}

.dropzone-div:hover {
	cursor: pointer;
}

.drop-text {
	text-align: center;
	color: black;
	background: white;
	opacity: 0.8;
}